body {
  background-color: #1faec1;
}

.todo-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 15px;
  background-color: #505554e2;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
}
h1 {
  color: #de0c0c;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.input-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.input-field {
  flex: 1;
  padding: 10px;
  border: 1px solid #1faec1;
  border-radius: 10px 0 10px 0;
  font-size: 16px;
}
.add-btn,
.update-btn,
.cancel-btn {
  padding: 8px;
  margin-left: 5px;
  border: none;
  border-radius: 10px 0 10px 0;
  background-color: #1faec1;
  color: black;
  cursor: pointer;
  font-size: 15px;
}
.add-btn:hover,
.update-btn:hover,
.cancel-btn:hover {
  background-color: #000;
  color: white;
}
.todo-list {
  list-style: none;
  padding: 0;
}
.todo-list li {
  margin: 10px 0;
  padding: 3px;
  border-radius: 10px 0 10px 0;
  border: 1px solid #ffcc66;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
}
.todo-list li.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
.button-group button {
  margin-left: 2px;
  padding: 5px;
  border-radius: 10px 0 10px 0;
  cursor: pointer;
  background-color: inherit;
  font-size: 15px;
  font-weight: 400;
}
.edit-btn {
  color: rgb(4, 248, 4);
}
.delete-btn {
  color: rgb(248, 4, 37);
}
.complete-btn {
  color: rgb(248, 224, 4);
}
.button-group:hover {
  opacity: 0.8;
}

.bottom-section {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #ccc;
}
.save-btn {
  padding: 8px;
  background-color: #ffc107;
  border: none;
  
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #000;
  color: white;
}

